.slider {
  --slides-per-screen: 2;
  --item-size: calc(100% / var(--slides-per-screen));

  @media (min-width: 768px) {
    --slides-per-screen: 3;
  }

  @media (min-width: 1024px) {
    --slides-per-screen: 4;
  }
}

.slides {
  transform: translate3d(calc(var(--item-index) * var(--item-size) * -1), 0, 0);
}

.slide {
  flex-basis: calc(100% / var(--slides-per-screen));
}
